MONGODB_URI=mongodb://localhost:27017/mrsapp
NEXTAUTH_SECRET=dlioagdkuasfudkfasuidcasdiasydciasfduasfdfasyiayuysfuyadyuasud
NEXTAUTH_URL=http://localhost:3000
JWT_SECRET=asdasdasdasdas3rtfggc7g36f3g333fbu

